.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card-title {
    text-align: center;
    color: #1c2385;
    font-family:fantasy; 
    font-size: 2rem;
}

.btn-sm {
    border-radius: 20px;
    width: 100px;
}

.todo > div {
    color : blue;
}   